<!DOCTYPE html>
<br>
    {%if patient%}
        <h1>Patient: {{patient.case_submitter_id}}</h1>
        <h4>Basic Information:</h4>
        <p2>Age at Index: {{patient.age_at_index}}</p2>
        <br></br>
        <p2>Year of Birth - Year of Death: {{patient.year_of_birth}} - {{patient.year_of_death}}</p2>
        <br></br>
        <p2>Gender: {{patient.gender}}</p2>
        <br></br>
        <p2>Ethnicity: {{patient.ethnicity}}</p2>
        <br></br>
        <p2>Race: {{patient.race}} </p2>
        <br></br>
        <p2>Vital Status: {{patient.vital_status}}</p2>
        <br></br>
        <p2>Country of Residence: {{patient.country_of_residence_at_enrollment}}</p2>
        <br></br>
        <p2>Primary Diagnosis: {{patient.primary_diagnosis}}</p2>
        <br></br>
        <h4>Clinical Information:</h4>
        <p2>Cause of Death: {{patient.cause_of_death}}</p2>
        <br></br>
        <p2>Adrenal Hormone: {{patient.adrenal_hormone}} </p2>
        <br></br>
        <p2>Age at diagnosis: {{patient.age_at_diagnosis}}</p2>
        <br></br>
        <p2> adrenal hormone :  {{ patient. adrenal_hormone }} </p2>
 <br></br>


<p2> age is obfuscated :  {{patient. age_is_obfuscated}} </p2>
 <br></br>
<p2> ajcc clinical m :  {{ patient. ajcc_clinical_m }} </p2>
 <br></br>
<p2> ajcc clinical n :  {{ patient. ajcc_clinical_n }} </p2>
 <br></br>
<p2> ajcc clinical stage :  {{ patient. ajcc_clinical_stage }} </p2>
 <br></br>
<p2> ajcc clinical t :  {{ patient. ajcc_clinical_t }} </p2>
 <br></br>
<p2> ajcc pathologic m :  {{ patient. ajcc_pathologic_m }} </p2>
 <br></br>
<p2> ajcc pathologic n :  {{ patient. ajcc_pathologic_n }} </p2>
 <br></br>
<p2> ajcc pathologic stage :  {{ patient. ajcc_pathologic_stage }} </p2>
 <br></br>
<p2> ajcc pathologic t :  {{ patient. ajcc_pathologic_t }} </p2>
 <br></br>
<p2> ajcc staging system edition :  {{ patient. ajcc_staging_system_edition }} </p2>
 <br></br>
<p2> anaplasia present :  {{ patient. anaplasia_present }} </p2>
 <br></br>
<p2> anaplasia present type :  {{ patient. anaplasia_present_type }} </p2>
 <br></br>
<p2> ann arbor b symptoms :  {{ patient. ann_arbor_b_symptoms }} </p2>
 <br></br>
<p2> ann arbor b symptoms described :  {{ patient. ann_arbor_b_symptoms_described }} </p2> 
 <br></br>
<p2> ann arbor clinical stage :  {{ patient. ann_arbor_clinical_stage }} </p2>
 <br></br>
<p2> ann arbor extranodal involvement :  {{ patient. ann_arbor_extranodal_involvement }} </p2>
 <br></br>
<p2> ann arbor pathologic stage :  {{ patient. ann_arbor_pathologic_stage }} </p2>
 <br></br>
<p2> best overall response :  {{ patient. best_overall_response }} </p2>
 <br></br>
<p2> breslow thickness :  {{ patient. breslow_thickness }} </p2>
 <br></br>
<p2> burkitt lymphoma clinical variant :  {{ patient. burkitt_lymphoma_clinical_variant }} </p2>
 <br></br>
<p2> case id :  {{ patient. case_id }} </p2>
 <br></br>
<p2> case submitter id :  {{ patient. case_submitter_id }} </p2>
 <br></br>

<p2> chemo concurrent to radiation :  {{ patient. chemo_concurrent_to_radiation }} </p2>
 <br></br>
<p2> child pugh classification :  {{ patient. child_pugh_classification }} </p2>
 <br></br>
<p2> circumferential resection margin :  {{ patient. circumferential_resection_margin }} </p2>
 <br></br>
<p2> classification of tumor :  {{ patient. classification_of_tumor }} </p2>
 <br></br>
<p2> cog liver stage :  {{ patient. cog_liver_stage }} </p2>
 <br></br>
<p2> cog neuroblastoma risk group :  {{ patient. cog_neuroblastoma_risk_group }} </p2>
 <br></br>
<p2> cog renal stage :  {{ patient. cog_renal_stage }} </p2>
 <br></br>
<p2> cog rhabdomyosarcoma risk group :  {{ patient. cog_rhabdomyosarcoma_risk_group }} </p2>
 <br></br>
<p2> country of residence at enrollment :  {{ patient. country_of_residence_at_enrollment }} </p2>
 <br></br>
<p2> days to best overall response :  {{ patient. days_to_best_overall_response }} </p2>
 <br></br>
<p2> days to birth :  {{ patient. days_to_birth }} </p2>
 <br></br>
<p2> days to death :  {{ patient. days_to_death }} </p2>
 <br></br>
<p2> days to diagnosis :  {{ patient. days_to_diagnosis }} </p2>
 <br></br>
<p2> days to last follow up :  {{ patient. days_to_last_follow_up }} </p2>
 <br></br>
<p2> days to last known disease status :  {{ patient. days_to_last_known_disease_status }} </p2>
 <br></br>
<p2> days to recurrence :  {{ patient. days_to_recurrence }} </p2>
 <br></br>
<p2> days to treatment end :  {{ patient. days_to_treatment_end }} </p2>
 <br></br>
<p2> days to treatment start :  {{ patient. days_to_treatment_start }} </p2>
 <br></br>
<p2> eln risk classification :  {{ patient. eln_risk_classification }} </p2>
 <br></br>
<p2> enneking msts grade :  {{ patient. enneking_msts_grade }} </p2>
 <br></br>
<p2> enneking msts metastasis :  {{ patient. enneking_msts_metastasis }} </p2>
 <br></br>
<p2> enneking msts stage :  {{ patient. enneking_msts_stage }} </p2>
 <br></br>
<p2> enneking msts tumor site :  {{ patient. enneking_msts_tumor_site }} </p2>
 <br></br>
<p2> esophageal columnar dysplasia degree :  {{ patient. esophageal_columnar_dysplasia_degree }} </p2>
 <br></br>
<p2> esophageal columnar metaplasia present :  {{ patient. esophageal_columnar_metaplasia_present }} </p2>
 <br></br>
<p2> ethnicity :  {{ patient. ethnicity }} </p2>
 <br></br>
<p2> figo stage :  {{ patient. figo_stage }} </p2>
 <br></br>
<p2> figo staging edition year :  {{ patient. figo_staging_edition_year }} </p2>
 <br></br>
<p2> first symptom prior to diagnosis :  {{ patient. first_symptom_prior_to_diagnosis }} </p2>
 <br></br>
<p2> gastric esophageal junction involvement :  {{ patient. gastric_esophageal_junction_involvement }} </p2>
 <br></br>
<p2> gender :  {{ patient. gender }} </p2>
 <br></br>
<p2> gleason grade group :  {{ patient. gleason_grade_group }} </p2>
 <br></br>
<p2> gleason grade tertiary :  {{ patient. gleason_grade_tertiary }} </p2>
 <br></br>
<p2> gleason patterns percent :  {{ patient. gleason_patterns_percent }} </p2> 
 <br></br>
<p2> goblet cells columnar mucosa present :  {{ patient. goblet_cells_columnar_mucosa_present }} </p2>
 <br></br>
<p2> greatest tumor dimension :  {{ patient. greatest_tumor_dimension }} </p2>
 <br></br>
<p2> gross tumor weight :  {{ patient. gross_tumor_weight }} </p2>
 <br></br>
<p2> icd 10 code :  {{ patient. icd_10_code }} </p2>
 <br></br>
<p2> igcccg stage :  {{ patient. igcccg_stage }} </p2>
 <br></br>
<p2> initial disease status :  {{ patient. initial_disease_status }} </p2>
 <br></br>
<p2> inpc grade :  {{ patient. inpc_grade }} </p2>
 <br></br>
<p2> inpc histologic group :  {{ patient. inpc_histologic_group }} </p2>
 <br></br>
<p2> inrg stage :  {{ patient. inrg_stage }} </p2>
 <br></br>
<p2> inss stage :  {{ patient. inss_stage }} </p2>
 <br></br>
<p2> international prognostic index :  {{ patient. international_prognostic_index }} </p2>
 <br></br>
<p2> irs group :  {{ patient. irs_group }} </p2>
 <br></br>
<p2> irs stage :  {{ patient. irs_stage }} </p2>
 <br></br>
<p2> ishak fibrosis score :  {{ patient. ishak_fibrosis_score }} </p2>
 <br></br>
<p2> iss stage :  {{ patient. iss_stage }} </p2>
 <br></br>
<p2> largest extrapelvic peritoneal focus :  {{ patient. largest_extrapelvic_peritoneal_focus }} </p2>
 <br></br>
<p2> last known disease status :  {{ patient. last_known_disease_status }} </p2>
 <br></br>
<p2> laterality :  {{ patient. laterality }} </p2>
 <br></br>
<p2> lymph node involved site :  {{ patient. lymph_node_involved_site }} </p2>
 <br></br>
<p2> lymph nodes positive :  {{ patient. lymph_nodes_positive }} </p2>
 <br></br>
<p2> lymph nodes tested :  {{ patient. lymph_nodes_tested }} </p2>
 <br></br>
<p2> lymphatic invasion present :  {{ patient. lymphatic_invasion_present }} </p2>
 <br></br>
<p2> margin distance :  {{ patient. margin_distance }} </p2>
 <br></br>
<p2> margins involved site :  {{ patient. margins_involved_site }} </p2>
 <br></br>
<p2> masaoka stage :  {{ patient. masaoka_stage }} </p2>
 <br></br>
<p2> medulloblastoma molecular classification :  {{ patient. medulloblastoma_molecular_classification }} </p2>
 <br></br>
<p2> metastasis at diagnosis :  {{ patient. metastasis_at_diagnosis }} </p2>
 <br></br>
<p2> metastasis at diagnosis site :  {{ patient. metastasis_at_diagnosis_site }} </p2>
 <br></br>
<p2> method of diagnosis :  {{ patient. method_of_diagnosis }} </p2>
 <br></br>
<p2> micropapillary features :  {{ patient. micropapillary_features }} </p2>
 <br></br>
<p2> mitosis karyorrhexis index :  {{ patient. mitosis_karyorrhexis_index }} </p2>
 <br></br>
<p2> mitotic count :  {{ patient. mitotic_count }} </p2>
 <br></br>
<p2> morphology :  {{ patient. morphology }} </p2>
 <br></br>
<p2> non nodal regional disease :  {{ patient. non_nodal_regional_disease }} </p2>
 <br></br>
<p2> non nodal tumor deposits :  {{ patient. non_nodal_tumor_deposits }} </p2>
 <br></br>
<p2> number of cycles :  {{ patient. number_of_cycles }} </p2>
 <br></br>
<p2> occupation duration years :  {{ patient. occupation_duration_years }} </p2>
 <br></br>
<p2> ovarian specimen status :  {{ patient. ovarian_specimen_status }} </p2>
 <br></br>
<p2> ovarian surface involvement :  {{ patient. ovarian_surface_involvement }} </p2>
 <br></br>
<p2> papillary renal cell type :  {{ patient. papillary_renal_cell_type }} </p2>
 <br></br>
<p2> percent tumor invasion :  {{ patient. percent_tumor_invasion }} </p2>
 <br></br>
<p2> perineural invasion present :  {{ patient. perineural_invasion_present }} </p2>
 <br></br>
<p2> peripancreatic lymph nodes positive :  {{ patient. peripancreatic_lymph_nodes_positive }} </p2>
 <br></br>
<p2> peripancreatic lymph nodes tested :  {{ patient. peripancreatic_lymph_nodes_tested }} </p2>
 <br></br>
<p2> peritoneal fluid cytological status :  {{ patient. peritoneal_fluid_cytological_status }} </p2>
 <br></br>
<p2> pregnant at diagnosis :  {{ patient. pregnant_at_diagnosis }} </p2>
 <br></br>
<p2> premature at birth :  {{ patient. premature_at_birth }} </p2>
 <br></br>
<p2> primary diagnosis :  {{ patient. primary_diagnosis }} </p2>
 <br></br>
<p2> primary disease :  {{ patient. primary_disease }} </p2>
 <br></br>
<p2> primary gleason grade :  {{ patient. primary_gleason_grade }} </p2>
 <br></br>
<p2> prior malignancy :  {{ patient. prior_malignancy }} </p2>
 <br></br>
<p2> prior treatment :  {{ patient. prior_treatment }} </p2>
 <br></br>
<p2> progression or recurrence :  {{ patient. progression_or_recurrence }} </p2>
 <br></br>
<p2> project id :  {{ patient. project_id }} </p2> 
 <br></br>
<p2> race :  {{ patient. race }} </p2>
 <br></br>
<p2> reason treatment ended :  {{ patient. reason_treatment_ended }} </p2>
 <br></br>
<p2> regimen or line of therapy :  {{ patient. regimen_or_line_of_therapy }} </p2>
 <br></br>
<p2> residual disease :  {{ patient. residual_disease }} </p2>
 <br></br>
<p2> route of administration :  {{ patient. route_of_administration }} </p2>
 <br></br>
<p2> satellite nodule present :  {{ patient. satellite_nodule_present }} </p2>
 <br></br>
<p2> secondary gleason grade :  {{ patient. secondary_gleason_grade }} </p2>
 <br></br>
<p2> site of resection or biopsy :  {{ patient. site_of_resection_or_biopsy }} </p2>
 <br></br>
<p2> sites of involvement :  {{ patient. sites_of_involvement }} </p2>
 <br></br>
<p2> supratentorial localization :  {{ patient. supratentorial_localization }} </p2>
 <br></br>
<p2> synchronous malignancy :  {{ patient. synchronous_malignancy }} </p2>
 <br></br>
<p2> therapeutic agents :  {{ patient. therapeutic_agents }} </p2>
 <br></br>
<p2> tissue or organ of origin :  {{ patient. tissue_or_organ_of_origin }} </p2>
 <br></br>
<p2> transglottic extension :  {{ patient. transglottic_extension }} </p2>
 <br></br>
<p2> treatment anatomic site :  {{ patient. treatment_anatomic_site }} </p2>
 <br></br>
<p2> treatment arm :  {{ patient. treatment_arm }} </p2>
 <br></br>
<p2> treatment dose :  {{ patient. treatment_dose }} </p2>
 <br></br>
<p2> treatment dose units :  {{ patient. treatment_dose_units }} </p2>
 <br></br>
<p2> treatment effect :  {{ patient. treatment_effect }} </p2>
 <br></br>
<p2> treatment effect indicator :  {{ patient. treatment_effect_indicator }} </p2>
 <br></br>
<p2> treatment frequency :  {{ patient. treatment_frequency }} </p2>
 <br></br>
<p2> treatment intent type :  {{ patient. treatment_intent_type }} </p2>
 <br></br>
<p2> treatment or therapy :  {{ patient. treatment_or_therapy }} </p2>
 <br></br>
<p2> treatment outcome :  {{ patient. treatment_outcome }} </p2>
 <br></br>
<p2> treatment type :  {{ patient. treatment_type }} </p2>
 <br></br>
<p2> tumor confined to organ of origin :  {{ patient. tumor_confined_to_organ_of_origin }} </p2>
 <br></br>
<p2> tumor depth :  {{ patient. tumor_depth }} </p2>
 <br></br>
<p2> tumor focality :  {{ patient. tumor_focality }} </p2>
 <br></br>
<p2> tumor grade :  {{ patient. tumor_grade }} </p2>
 <br></br>
<p2> tumor largest dimension diameter :  {{ patient. tumor_largest_dimension_diameter }} </p2>
 <br></br>
<p2> tumor regression grade :  {{ patient. tumor_regression_grade }} </p2>
 <br></br>
<p2> tumor stage :  {{ patient. tumor_stage }} </p2>
 <br></br>
<p2> vascular invasion present :  {{ patient. vascular_invasion_present }} </p2>
 <br></br>
<p2> vascular invasion type :  {{ patient. vascular_invasion_type }} </p2>
 <br></br>
<p2> vital status :  {{ patient. vital_status }} </p2>
 <br></br>
<p2> weeks gestation at birth :  {{ patient. weeks_gestation_at_birth }} </p2>
 <br></br>
<p2> weiss assessment score :  {{ patient. weiss_assessment_score }} </p2>
 <br></br>
<p2> who cns grade :  {{ patient. who_cns_grade }} </p2>
 <br></br>
<p2> who nte grade :  {{ patient. who_nte_grade }} </p2>
 <br></br>
<p2> wilms tumor histologic subtype :  {{ patient. wilms_tumor_histologic_subtype }} </p2>
 <br></br>
<p2> year of birth :  {{ patient. year_of_birth }} </p2>
 <br></br>
<p2> year of death :  {{ patient. year_of_death }} </p2>
 <br></br>
<p2> year of diagnosis :  {{ patient. year_of_diagnosis }} </p2>
 <br></br>
    {% endif %}
    
</html>